body{
    background-color: lightyellow;
    font-family: Arial;
}

h1{
    color: blue;
    text-align: center;
}

nav{
    text-align: center;
}

.home{
    color: blue;
}

.login{
    color: green;
}

.register{
    color: red;
}

.dashboard{
    color: purple;
}

.profile{
    color: brown;
}

.courses{
    color: orange;
}

.assignments{
    color: darkblue;
}

.announcements{
    color: darkgreen;
}

.timetable{
    color: maroon;
}

.contact{
    color: black;
}

h2{
    color: darkblue;
}

.image{
    text-align: center;
}

img{
    border: 2px solid blue;
}

p{
    color: black;
}

h3{
    color: green;
}

ul{
    color: darkred;
}

footer p{
    text-align: center;
    color: gray;
}